{% extends 'base.html' %}
{% block content %}

    <h1>{{ meal.name }}'s Details</h1>
    <form action="{% url 'add_photo' meal.id %}" enctype="multipart/form-data" method="POST" class="card-panel"
          id="upload_img">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn-primary" id="btn_img">Upload Photo</button>
    </form>


    <div class="row">


        <div class="col-sm-6">
            <div class="card">

                <a href="{% url 'detail' meal.id %}"></a>
                <div class="contain-edit">
                    <div class="card-action" id="edit_navbar">
                        <a href="{% url 'meals_update' meal.id %}" class="chip" id="chip-btn">Edit</a>
                        <a href="{% url 'meals_delete' meal.id %}" class="chip" id="chip-btn">Delete</a>
                    </div>

                </div>

                <div class="card-content" id="meal_detail">
                    {% for photo in meal.photo_set.all %}
                        <img class="responsive-img card-panel" src="{{ photo.url }}">
                    {% empty %}
                        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                    {% endfor %}
                    <span class="card-title">{{ meal.name }}</span>
                    <p>Description: {{ meal.description }}</p>
                    <p>Price: {{ meal.price|linebreaks }}</p>
                    <p>People: {{ meal.people|linebreaks }}</p>
                    <p>Preparation time: {{ meal.preparation_time|linebreaks }}</p>
                    </p>

                </div>

            </div>
        </div>

        <div class="col-sm-6">
            <div class="card" id="ingredients">
                <div class="card-content">
                    <span class="card-title">Ingredients</span>
                    <p>{{ meal.ingredients }}
                    </p>
                </div>
            </div>
            <hr>
            <div class="card">
                <div class="card-content" id="pair-wine">
                    <h3>{{ meal.name }}'s Paired Wine</h3>
                    {% if meal.wines.count %}
                        {% for wine in meal.wines.all %}
                            <div class="card">
                                <div class="card-content" id="wine-paired">
                                    <form action="{% url 'unpair_wine' meal.id wine.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn" id="unpair_btn">Unpair</button>
                                    </form>
                                    <ul>
                                        <li> Name: {{ wine.name }}</li>
                                        <li> Type: {{ wine.type }}</li>
                                        <li> Age: {{ wine.age }}</li>
                                        <li>Price: ${{ wine.price }}</li>

                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h5>No Paired Wine 🫗</h5>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>


    <hr>

    </div>



    <div class="card-body">

        <h2 class="card-title">From our Cantine</h2>
        <!-- <span class="new badge">4</span> -->


        <div class="row" id="test">
            {% if wines.count %}
                {% for wine in wines.all %}
                    <div class="col s12 m6">
                        <form action="{% url 'pair_wine' meal.id wine.id %}" method="POST">
                            {% csrf_token %}
                            <h2>{{ wine.name }} 🍷</h2>
                            <!-- <button type="submit" class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>+</button> -->
                            <!-- <a class="waves-effect waves-light btn-small">button</a> -->
                            <button type="submit" class="btn-floating btn-medium waves-effect waves-light dark">Add
                            </button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <h5>{{ meal.name }} Already got paired with all the Cantine's Wines</h5>
            {% endif %}
        </div>

    </div>

{% endblock %}