{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<style>
    .cover_1 h2 {
        padding-top: 250px;
    }
</style>

<div class="main-wrap">
    <!-- .cover_1 Header for the Meal List -->
    <div class="cover_1 cover_sm">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7" data-aos="fade-up">
                    <h2 class="heading">Meal List</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="section" data-aos="fade-up">
        <div class="container">
            <div class="row">

                {% for meal in meals %}
                    <div class="col-md-4 p-3"> <!-- Adjusted grid for 3 cards per row -->
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ meal.image.url }}" alt="{{ meal.name }}" class="responsive-img">
                                <span class="card-title">{{ meal.name }}</span>
                            </div>
                            <div class="card-content">
                                <p><strong>Description:</strong> {{ meal.description }}</p>
                                <p><strong>People:</strong> {{ meal.people }}</p>
                                <p><strong>Price:</strong> {{ meal.price }}</p>
                                <p><strong>Preparation time:</strong> {{ meal.preparation_time }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'detail' meal.id %}">More Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div> <!-- .section -->
</div> <!-- .main-wrap -->
{% endblock content %}
