{% extends 'base.html' %}
{% block content %}

    <h1>Meal List</h1>

    {% for meal in meals %}
        <a href="{% url 'detail' meal.id %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ meal.name }}</span>

                <p>Description: {{ meal.description }}</p>
                <p>People: {{ meal.people }}</p>
                <p>Price: {{ meal.price }}</p>
                <p>Preparation time: {{ meal.preparation_time|linebreaks }}</p>
                <!-- <p>Image: {{ meal.image }}</p> -->
            </div>
        </div>
    {% endfor %}

{% endblock %}
