{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <style>
        .main-wrap {
            background-image: url(https://projects-6-5.s3.us-east-2.amazonaws.com/projects-6-5/sam-moghadam-khamseh-kjrpdmHFZMs-unsplash.jpg);
        }
    </style>
    <div class="main-wrap">
        <div class="cover_1 cover_sm">
            <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})"
                 data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7" data-aos="fade-up">
                            {% if object %}
                                <h2 class="heading">Edit Meal: <span class="orange-text">{{ object.name }}</span></h2>
                            {% else %}
                                <h2 class="heading" style="padding: 250px;">Add Meal</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .cover_1 -->

        <div class="section" data-aos="fade-up">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-8 text-center">
                        {% if object %}
                            <h2 class="mb-3">Edit Meal: <span class="orange-text">{{ object.name }}</span></h2>
                        {% else %}
                            <h2 class="mb-3">Introduce a New Dish</h2>
                            <p>"Discover new tastes and experiences by adding a delightful dish to our menu."</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-10 p-5 form-wrap">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <table>
                                <!-- Render the inputs inside of <tr>s & <td>s -->
                                {{ form.as_table }}
                            </table>
                            <button type="submit" class="btn btn-primary">
                                {% if object %}
                                    Update Meal
                                {% else %}
                                    Add Dish
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- .section -->

    </div> <!-- .main-wrap -->

{% endblock content %}
