{% extends 'base.html' %}
{% block content %}

<h1>Wine Detail</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ wine.name }}</span>
        <p>Name: {{ wine.name }}</p>
        <p>Type: {{ wine.type }}</p>
        <p>Age: {{ wine.age }}</p>
        <p>Price: {{ wine.price }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'wine_update' wine.id %}">Edit</a>
        <a href="{% url 'wine_delete' wine.id %}">Delete Wine</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
