{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

    <style>
        {#.cover_1 h2 {#}
        {#    padding-top: 250px;#}
        {
        #}#}
    </style>

    <div class="main-wrap">
        <div class="cover_1 cover_sm">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7" data-aos="fade-up">
                        <h2 class="heading">About The Restaurant</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .cover_1 -->

    <div class="col-md-12" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 80%; margin: auto; display: block;"
                     src="https://projects-6-5.s3.us-east-2.amazonaws.com/projects-6-5/fallon-travels-q03ZLncun2Y-unsplash.jpg"
                     alt="{{ about.title }}" class="about-image">
            </div>

            <div class="col-md-6">
                <h2 style=" display: block; margin: auto; text-align: center;">{{ about.title }}</h2>
                <p style="display: block; margin-right: 48px; padding: 8px;">{{ about.content }}</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row justify-content-center mb-5" data-aos="fade-up">
                <div class="col-md-8  text-center">
                    <h2 class="mb-3">Why Choose Us</h2>
                    <p class="lead">With a heart full of devotion and pockets filled with cheeky kitchen secrets,
                        we’re on an electrifying chase for Italian culinary stardom. And trust us, it’s not just
                        about the food;
                        it’s about the chuckles, the shared moments, and the joyous memories we create along the
                        way.</p>
                </div>
            </div>
            <div class="row large-gutters">
                <div class="col-md-6">
                    <img style="width: 80%; margin: auto; display: block;"
                         src="https://projects-6-5.s3.us-east-2.amazonaws.com/projects-6-5/restaurant.png">
                </div>

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="accordion" id="accordion" style="width:90%">
                        {% for info in why_choose_us %}

                            <div class="accordion-item">
                                <h3 class="mb-0">
                                    <a class="btn-block p-3" data-toggle="collapse" href="#collapse{{ info.id }}"
                                       role="button" aria-expanded="true"
                                       aria-controls="collapseOne">{{ info.title }} <span class="icon"></span></a>
                                </h3>
                                <div id="collapse{{ info.id }}" class="collapse " aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="p-3">
                                        <p>{{ info.content }}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .section -->

    <div class="section">
        <div class="container">
            <div class="row justify-content-center mb-5" data-aos="fade-up">
                <div class="col-md-8  text-center">
                    <h2 class="mb-3" style="font-family:'Open Sans'">Meet the Culinary Dream Team</h2>
                    <p class="lead">Discover the Maestros Behind Our Culinary Delights</p>
                </div>
            </div>
            <div class="row" style="margin-left: 250px;">
                {% for one in chef %}

                    <div class="col-md-3" data-aos="fade-up" data-aos-delay="100" style="text-align: center;">
                        <img src="{{ one.image }}" alt="Image placeholder" class="img-fluid mb-4 rounded">
                        <h3 class="mb-3" style="font-family:'Open Sans'">{{ one.name }}</h3>
                        <p class="post-meta text-muted">{{ one.title }}</p>
                        <p class="mb-5">{{ one.bio }}</p>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock content %}




