{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nota Nobile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul>
                <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Nota Nobile</a></li>
            </ul>
            <ul class="right">
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'meals_create' %}">Add a meal</a></li>
                <li><a href="{% url 'reserve_table' %}">Reserve A Table</a></li>
                <li><a href="{% url 'index' %}">View All Meals List</a></li>
                <li><a href="{% url 'send_email' %}">Contact</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    {% block content %}
    {% endblock content %}
</main>
<footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 &nbsp;</div>
</footer>
</body>
</html>
