{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nota Nobile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
   

<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper" style="background-color: #263238;">
            <ul>
                <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Nota Nobile</a></li>
            </ul>
            <!-- ... other parts of  base.html -->

            <ul class="right">
                <li><a href="{% url 'about' %}">About Us</a></li>
                {% if user.is_authenticated %}
                    {% if not user.is_staff %}
                        <li><a href="{% url 'reservations_create' %}">Reserve A Table</a></li>
                        <li><a href="{% url 'index' %}">Our Menu</a></li>

                    {% endif %}
                    <li><a href="{% url 'reservations_index' %}">Reservations</a></li>
                    <li><a href="{% url 'index' %}">Our Menu</a></li>
                    <li><a href="{% url 'send_email' %}">Contact</a></li>

                    {% if user.is_staff %}
                        <li><a href="{% url 'reservations_create' %}">Reserve A Table</a></li>
                        <li><a href="{% url 'meals_create' %}">Add a meal</a></li>
                        <li><a href="{% url 'wine_index' %}"> Wine List 🍷</a></li>
                        <li><a href="{% url 'wine_create' %}"> Add Wine ➕</a></li>
                    {% endif %}

                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>

            <!-- ... other parts of your base.html -->

        </div>
    </nav>
</header>
<main class="container">
    {% block content %}
    {% endblock content %}
</main>
<!-- <footer class="footer">
<div class="container">
<div class="row">

<div class="col-lg-3 footer_col">
<div class="footer_contact">
<ul>
<li class="d-flex flex-row align-items-start justify-content-start">
<div><div class="footer_contact_title">Address:</div></div>
<div class="footer_contact_text">481 Creekside Lane Avila CA 93424</div>
</li>
<li class="d-flex flex-row align-items-start justify-content-start">
<div><div class="footer_contact_title">Address:</div></div>
<div class="footer_contact_text">+53 345 7953 32453</div>
</li>
<li class="d-flex flex-row align-items-start justify-content-start">
<div><div class="footer_contact_title">Address:</div></div>
<div class="footer_contact_text">yourmail@gmail</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</footer> -->
</body>
</html>
