{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="main-wrap">
        <div class="cover_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12" data-aos="fade-up">
                        <h2 class="heading" style="padding: 150px;">"Experience the timeless elegance of Italy, one
                            bite at a time."</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="section services-section">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-3" data-aos="fade-up">
                        <div class="media feature-icon d-block text-center">
                            <div class="icon">
                                <span class="flaticon-soup"></span>
                            </div>
                            <div class="media-body">
                                <h3>Quality Cuisine</h3>
                                <p>Indulge in our culinary delights meticulously prepared by our master chefs. Each dish is a harmonious symphony of flavors that speaks to the essence of fine dining.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="media feature-icon d-block text-center">
                            <div class="icon">
                                <span class="flaticon-vegetables"></span>
                            </div>
                            <div class="media-body">
                                <h3>Fresh Food</h3>
                                <p>Experience the farm-to-table concept at its finest. Our ingredients are sourced locally and meticulously selected to ensure a burst of freshness in every bite. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                        <div class="media feature-icon d-block text-center">
                            <div class="icon">
                                <span class="flaticon-pancake"></span>
                            </div>
                            <div class="media-body">
                                <h3>Friendly Staff</h3>
                                <p>Our dedicated and welcoming staff is here to make your dining experience exceptional. Immerse yourself in an environment of warmth and hospitality.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                        <div class="media feature-icon d-block text-center">
                            <div class="icon">
                                <span class="flaticon-tray"></span>
                            </div>
                            <div class="media-body">
                                <h3>Easy Reservation</h3>
                                <p>Conveniently reserve your table through our user-friendly booking system. Effortlessly secure your spot for an unforgettable dining experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .section -->

        <div class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 text-center" data-aos="fade-up">
                        <h2 class="mb-4">Our Specialties</h2>
                        <p class="lead">Dive into the heart of Italy with our special dish, a masterpiece curated from
                            the annals of Italian culinary traditions, enhanced for the modern connoisseur</p>
                    </div>
                </div>
            </div>
        </div> <!-- .section -->

        <div class="section pt-0 pb-0">

            <div class="menus d-flex bg-light" style="margin: 0 70px;">

                {% for meal in meals %}
                    <div class="d-flex item" style="padding:25px; margin-bottom: 45px; min-height: 355px;">
                        {% if meal.image %}
                            <div class="image" style="background-image: url({{ meal.image }});"
                                 data-aos="fade"></div>
                        {% else %}
                        {% endif %}
                        <div class="text" style="padding:25px; background-color: #7a8d4e">
                            <h3>{{ meal.name }}</h3>
                            <p>{{ meal.description|truncatewords:15 }}</p>
                            <p class="price" style="">${{ meal.price }}</p>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>


        <div class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8" data-aos="fade-up">

                        <h2 class="mb-5 text-center">Menu List with Price</h2>

                        <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
                            {% for category in categories %}
                                <li class="nav-item">
                                    <a class="nav-link " id="{{ category }}-tab" data-toggle="pill"
                                       href="#{{ category }}" role="tab" aria-controls="{{ category }}"
                                       aria-selected="true">{{ category }}</a>
                                </li>
                            {% endfor %}

                        </ul>


                        <div class="tab-content" id="pills-tabContent">

                            {% for category in categories %}

                                <div class="tab-pane fade show" id="{{ category }}" role="tabpanel"
                                     aria-labelledby="{{ category }}-tab">

                                    {% for meal in meals %}
                                        <div class="d-flex item" style="padding:25px; margin-bottom: 45px;">
                                            {% if meal.image %}
                                                <div class="image" style="background-image: url({{ meal.image}});"
                                                     data-aos="fade"></div>
                                            {% else %}
                                                <!-- You can add some placeholder image or other content here -->
                                            {% endif %}
                                            <div class="text">
                                                <h3>{{ meal.name }}</h3>
                                                <p>{{ meal.description|truncatewords:15 }}</p>
                                                <p class="price">${{ meal.price }}</p>
                                            </div>
                                        </div> <!-- .item -->
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .main-wrap -->
{% endblock content %}